<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.url">jdbc:mysql://localhost:3306/Live?useUnicode=true&amp;characterEncoding=UTF8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!--以格式良好的方式显示SQL语句-->
        <property name="format_sql">true</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="UserEntity.hbm.xml"/>
        <mapping class="com.hongtao.live.dao.entity.UserEntity"/>
        <mapping class="com.hongtao.live.dao.entity.RoomEntity"/>
        <mapping resource="RoomEntity.hbm.xml"/>
        <mapping class="com.hongtao.live.dao.entity.ChatEntity"/>
        <mapping resource="ChatEntity.hbm.xml"/>
        <mapping class="com.hongtao.live.dao.entity.AttentionEntity"/>
        <mapping resource="AttentionEntity.hbm.xml"/>
        <mapping resource="GiftSendEntity.hbm.xml"/>
        <mapping class="com.hongtao.live.dao.entity.GiftSendEntity"/>
        <mapping class="com.hongtao.live.dao.entity.GiftEntity"/>
        <mapping resource="GiftEntity.hbm.xml"/>
        <mapping resource="MoneyRecordEntity.hbm.xml"/>
        <mapping class="com.hongtao.live.dao.entity.MoneyRecordEntity"/>

    </session-factory>
</hibernate-configuration>